<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Diabetes Prediction</title>
    <meta charset="utf-8">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webfonts')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='images')}}">
    <link rel="stylesheet" href="/css/all.min.css">

    <style>
      footer a{
        color: #fff;
      }
      footer a:hover{
        color: #fff;
      }
      .centerdiv{
        height: 15vh;
        display: flex;
        #justify-content: center;
        align-items: center;
      }
      .centerdiv a{
        height: 30px;
        width: 30px;
        background-color: #f5f6fa;
        border-radius: 50px;
        text-align: center;
        margin: 5px;
        line-height: 30px;
        #box-shadow: 1px 4px 2px 2px #dcdde1;
        position: relative;
        overflow: hidden;
      }
      .centerdiv a i{
        transition: all 0.3s linear;
      }
      .centerdiv a:hover i{
        transform: scale(1.5);
        color: #f5f6fa;
      }
      .centerdiv a:before{
        content: "";
        width: 120%; height: 120%;
        position: absolute;
        top: 90%; left: -50%;
        background-color: #00a8ff;
        transform: rotate(60deg);
      }

      .centerdiv a:hover:before{
        animation: socialicons 0.8s 1;
        animation-fill-mode: forwards;
      }
      @keyframes socialicons {

        0%{ top: 90%; left: -50%;}
        50%{ top: -60%; left: -10%;}
        100%{ top: -10%; left: -10%}
      }

      .fa-facebook-f{
        color: #e84393;
      }
      .fa-instagram{
        color: #e84393;
      }
      .fa-github{
        color: #e84118;
      }
      .fa-linkedin{
        color: #0097e6;
      }
      .fa-twitter{
        color: #0097e6;
      }
    </style>

  </head>

  <body>

    <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="https://diabetespredictions.herokuapp.com/">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="https://diabetespredictions.herokuapp.com/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Machine Learning
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://medical-insurances.herokuapp.com/">Medical Insurance Prediction</a>
                    <a class="dropdown-item" href="https://diabetespredictions.herokuapp.com/">Diabetes Prediction</a>
                    <a class="dropdown-item" href="https://jmovies.herokuapp.com/">Movie Recommendation System</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Deep Learning
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://pneumoniadetect.herokuapp.com/">Pneumonia Prediction</a>
                    <a class="dropdown-item" href="#"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NLP
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://audioto-text.herokuapp.com/">Audio To Text</a>
                    <a class="dropdown-item" href="#"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button href="https://diabetespredictions.herokuapp.com/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <br>

          <hr>
          <h1>
            <div style ="text-align:center">
              <font color='white'>
                Diabetes prediction
              </font>
            </div>
          </h1>
          <br>
  </div>
   <div class="wrapper">
     <div class="container my-5">
       <div class="row">
         <div class="col-md-10 col-sm-6 mx-auto">
           <form class="" action="/predict" method="post">

             <div class="form-group">
               <select class="form-control chosenn" name="Pregnancies" required="required">
                 <option value="" selected>Select Children Number</option>
                 <option value="0">None</option>
                 <option value="1">One</option>
                 <option value="2">Two</option>
                 <option value="3">Three</option>
                 <option value="4">Four</option>
                 <option value="5">Five</option>
                 <option value="6">Six</option>
                 <option value="7">Seven</option>
                 <option value="8">Eight</option>
                 <option value="9">Nine</option>
                 <option value="10">Ten</option>
               </select>
             </div>

           <div class="form-group">
             <input type="number" name="Glucose" id="Glucose" class="form-control" required>
             <label for="Glucose" class="ph-area">Enter Your Glucose</label>
           </div>

           <div class="form-group">
             <input type="number" name="BloodPressure" id="BloodPressure" class="form-control" required>
             <label for="BloodPressure" class="ph-area">Enter Your BloodPressure</label>
           </div>

           <div class="form-group">
             <input type="number" name="SkinThickness" id="SkinThickness" class="form-control" required>
             <label for="SkinThickness" class="ph-area">Enter Your SkinThickness</label>
           </div>

           <div class="form-group">
             <input type="number" name="Insulin" id="Insulin" class="form-control" required>
             <label for="Insulin" class="ph-area">Enter Your Insulin</label>
           </div>

           <div class="form-group">
             <input type="number" name="BMI" id="BMI" class="form-control" required>
             <label for="BMI" class="ph-area">Enter Your BMI</label>
           </div>

           <div class="form-group">
             <select class="form-control chosenn" name="DiabetesPedigreeFunction" required="required">
               <option value="" selected>Select DiabetesPedigreeFunction</option>
               <option value="0.045">0.0 - 0.09</option>
               <option value="0.145">0.1 - 0.19</option>
               <option value="0.245">0.2 - 0.29</option>
               <option value="0.345">0.3 - 0.39</option>
               <option value="0.445">0.4 - 0.49</option>
               <option value="0.545">0.5 - 0.59</option>
               <option value="0.645">0.6 -0.69</option>
               <option value="0.745">0.7 - 0.79</option>
               <option value="0.845">0.8 - 0.89</option>
               <option value="0.945">0.9 - 0.99</option>
               <option value="1.045">1.0 - 1.09</option>
               <option value="1.145">1.1 - 1.19</option>
               <option value="1.245">1.2 -1.29</option>
               <option value="1.345">1.3 - 1.39</option>
               <option value="1.445">1.4 - 1.49</option>
               <option value="1.545">1.5 - 1.59</option>
               <option value="1.645">1.6 - 1.69</option>
               <option value="1.745">1.7 -1.79</option>
               <option value="1.845">1.8 - 1.89</option>
               <option value="1.945">1.9 - 1.99</option>
               <option value="2.045">2.0 - 2.09</option>
               <option value="2.145">2.1 - 2.19</option>
             </select>
           </div>

           <div class="form-group">
             <input type="number" name="Age" id="Age" class="form-control" required>
             <label for="Age" class="ph-area">Enter Your Age</label>
           </div>

           <div class="form-group">
             <input type="submit" class="btn btn-primary" value="Submit">
             <input type="reset" class="btn btn-danger" value="Reset">
           </div>
         </form>
         </div>
       </div>
     </div>
   </div>

   <!--Start responsive card images section------>

    <section facilities>
      <div class="container">
        <div class="title">
          <h1>
            <font color='white'>Machine Learning</font>
          </h1>
          <font color='white'>
            <p>This section only for <strong><font color='blue'>Machine Learning</font></strong> model problem & web app.</p>
          </font>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="card text-center">
              <div class="inner">
                <img src="static/images/medical2.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Medical Insurance Prediction</h5>
                <p class="card-text">This app provide you what is the yearly medical cost for you. For that you need some information & you confirm your yearly cost.</p>
                <a href="https://medical-insurances.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card text-center">
              <div class="inner">
                <img src="static/images/diabetes1.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Diabetes Prediction Model</h5>
                <p class="card-text">This app provide are you Diabetes attacked or Not. For that you need input some information & you surely confirm your result.</p>
                <a href="https://diabetespredictions.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card text-center">
              <div class="inner">
                <img src="static/images/movie.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Movie Recommendation System</h5>
                <p class="card-text">This app provide your favorite movies what you want. For that you need just one movie name & you get similar types of movies with link.</p>
                <a href="https://jmovies.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card text-center">
              <div class="inner">
                <img src="static/images/movie.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Movie Recommendation System</h5>
                <p class="card-text">This app provide your favorite movies what you want. For that you need just one movie name & you get similar types of movies with link.</p>
                <a href="https://jmovies.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card text-center">
              <div class="inner">
                <img src="static/images/movie.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Movie Recommendation System</h5>
                <p class="card-text">This app provide your favorite movies what you want. For that you need just one movie name & you get similar types of movies with link.</p>
                <a href="https://jmovies.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card text-center">
              <div class="inner">
                <img src="static/images/movie.jpg" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Movie Recommendation System</h5>
                <p class="card-text">This app provide your favorite movies what you want. For that you need just one movie name & you get similar types of movies with link.</p>
                <a href="https://jmovies.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


   <section facilities>
     <div class="container">
       <div class="title">
         <h1>
           <font color='white'>Deep Learning</font>
         </h1>
         <font color='white'>
           <p>This section only for <strong><font color='blue'>Deep Learning</font></strong> model problem & web app.</p>
         </font>
       </div>

       <div class="row">
         <div class="col-md-4">
           <div class="card text-center">
             <div class="inner">
               <img src="static/images/pneumonia.jpg" class="card-img-top" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title">Pneumonia Detection</h5>
               <p class="card-text">This app provide are you Pneumonia attacked or Not. For that you need a X-RAY file & you surely confirm your result.</p>
               <a href="https://pneumoniadetect.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
             </div>
           </div>
         </div>

         <div class="col-md-4">
           <div class="card text-center">
             <div class="inner">
               <img src="static/images/pneumonia.jpg" class="card-img-top" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title">Pneumonia Detection</h5>
               <p class="card-text">This app provide are you Pneumonia attacked or Not. For that you need a X-RAY file & you surely confirm your result.</p>
               <a href="https://pneumoniadetect.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
             </div>
           </div>
         </div>

         <div class="col-md-4">
           <div class="card text-center">
             <div class="inner">
               <img src="static/images/pneumonia.jpg" class="card-img-top" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title">Pneumonia Detection</h5>
               <p class="card-text">This app provide are you Pneumonia attacked or Not. For that you need a X-RAY file & you surely confirm your result.</p>
               <a href="https://pneumoniadetect.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>


   <section facilities>
     <div class="container">
       <div class="title">
         <h1>
           <font color='white'>Natural Language Processing</font>
         </h1>
         <font color='white'>
           <p>This section only for <strong><font color='blue'>Natural Language Processing</font></strong> model problem & web app.</p>
         </font>
       </div>

       <div class="row">
         <div class="col-md-4">
           <div class="card text-center">
             <div class="inner">
               <img src="static/images/nlp2.jpg" class="card-img-top" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title">Audio To Text</h5>
               <p class="card-text">This app provide you a text message. For that you need a wav file & you get your audio file to text.</p>
               <a href="https://audioto-text.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
             </div>
           </div>
         </div>

         <div class="col-md-4">
           <div class="card text-center">
             <div class="inner">
               <img src="static/images/nlp1.jpg" class="card-img-top" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title">Audio To Text</h5>
               <p class="card-text">This app provide you a text message. For that you need a wav file & you get your audio file to text.</p>
               <a href="https://audioto-text.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
             </div>
           </div>
         </div>

         <div class="col-md-4">
           <div class="card text-center">
             <div class="inner">
               <img src="static/images/nlp3.jpg" class="card-img-top" alt="...">
             </div>
             <div class="card-body">
               <h5 class="card-title">Audio To Text</h5>
               <p class="card-text">This app provide you a text message. For that you need a wav file & you get your audio file to text.</p>
               <a href="https://audioto-text.herokuapp.com/" target="_blank" class="btn btn-primary">Go Project View</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>

   <!--End Responsive card images section-------->

                                    <!--Footer-->
    <footer class="bg-primary text-white">
      <div class="container py-3">
        <div class="row">
          <div class="col-lg-3 pb-2 text-justify">
            <h4>About Me</h4>
            <p>To work with an organization where competitive Environment exists and I can learn new things, improve and utilize my skills, knowledge and prove myself.</p>
          </div>
          <div class="col-lg-3 pb-2">
            <h4>Usefull Links</h4>
            <ul class="list-unstyled footerr">
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-3 pb-2">
            <h4>Contact Me</h4>
            <p>
              <address>127/7/C, Mirpur, Dhaka-1216, Bangladesh</address>
              <strong>Phone: </strong>+880 1303-292300 <br>
              <strong>Email: </strong><a href="mailto:jeweldhali51@gmail.com">jeweldhali51@gmail.com</a>
            </p>
          </div>

          <div class="col-lg-3 pb-2">
            <h4>Social Media</h4>
            <div class="centerdiv">
              <a href="https://www.facebook.com/juwel.dhali" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/jeweldhali51" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/dhali_juwel/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://github.com/jeweldhali" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/jewel51/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>

        </div>

          <div style ="text-align:center">
            <font color='white'>
              &copy; 2020. All rights reserved.
            </font>
          </div>

      </div>
    </footer>


                                    <!--Bootstrap JS-->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
   integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
   integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

  <!--<script type="text/javascript">
    $(".chosen").chosen()
  </script>-->

  <style type="text/css">
    body{

        background-image: url(d.jpg);
        background: gray;
    }

    #formm{
      background-color: #84e184;
      min-height: 600px;
      padding: 5px 40px 0px 40px
    }

      .registration{
        font-size: 50px;
        font-family: Agency FB;
        font-weight: 600;
        border-bottom-style: ridge;
      }
      label{
        font-size: 18px;
      }
      .text{
        height:43px;
      }

      .btn-primaryy{
        border-radius: 0px;
        padding:10px;
        width:49.4%;
      }

      .btn-dangerr{
        border-radius: 0px;
        padding:10px;
        width:49.4%;
      }
  </style>
</html>
